.search-header-bar :hover{ transform: scale(1.1);
         box-shadow: none;
transition: box-shadow 0.15s ease-out, transform 0.25s ease;
         perspective: 600px;
}
.search-header .image-logo :hover{
    padding: 0;
    transform: scale(1.1);
         box-shadow: none;
         transform: rotate3d(0, 0, 1, 360deg);

}

