@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');body{background:#d4ccb2;max-width:2000px;margin:auto}
.account-lang-currency.upper-bar{border:0}
.search-header.header-theme-bg-primary,.account-lang-currency.upper-bar{background:#d4ccb2}
s .header-theme-icon-primary span.path1{color:#6b8570}
.rtl .search-input-input{border-radius:50px;box-shadow:0 6px 10px -6px #000;border:0;/* border:3px solid #eb7e39;*/
    background:#ffffff}
#product-518645554 > div.row > *{position:static}
#product-518645554 > div.row div > *{position:static}
section.ss .container.container-slider{max-width:100%!important;padding:0}
.main-slider .slider-item{width:100%!important}
.main-slider.slider.s-slider.slick-initialized.slick-slider{max-height:initial}
.product-item{border:3px solid #000000;background:#e5c9a2;border-radius:10px}
a.btn.btn-primary.product-card-add-to-cart,a.btn.btn-primary.btn-product-card-select-variant{background:#000000!important;border:0;position:relative;top:-15px}
h1.section-title.theme-title-primary{color:#000000!important}
.footer{background:#feca85;overflow:hidden;position:relative}
.account-area *,.language-currency,.language-currency *,.icon-language_white:before{color:#f2f2f2!important;border-color:#000000!important;background:#000000}
.gallery-section.container .gallery.row{display:flex;justify-content:center}
.gallery-section.container .gallery.row > .gallery-item{max-width:31%;margin:0}
a.btn.btn-primary.btn-product-card-out-of-stock{cursor:no-drop}
section.ss .container.container-slider .slick-track{margin:0;width:100%!important}
.sticky .search-header.header-theme-bg-primary{border-bottom:3px solid #000000;background:#d4ccb2}
header{background:#372360}
.menu-header-theme-bg-primary{background:#fff}
.header-cart *,a.ic.menu.icon-menu-top *{color:#000000!important}
ol.breadcrumb,ol.breadcrumb *,.subTitle-detail{background:#fff;color:#000!important}
.header-cart * span.cart-badge{color:#fff!important}
.header-wrapper{background:#eb7e39;color:#fff}
.sm-search-div{background:#dcecf1}
nav#sliding-menu .account-area *,nav#sliding-menu .language-currency,nav#sliding-menu .language-currency *,nav#sliding-menu .icon-language_white:before{color:#fff!important}
.home-categories-section.section-padding-space{padding:0;margin:0;background:transparent}
div#slider-home57613e1f-8058-4467-9837-1c8b69388b17{margin:0!important}
.categories-slider{display:flex;align-items:center;justify-content:space-between}
.categories-slider .cat-col{flex:0 0 35%;max-width:31%;padding:0}
.categories-slider .cat-col .category-item{max-width:85%;margin:auto}
.categories-slider .cat-col:nth-of-type(2) .category-item{max-width:100%}
.category-item .category-link span.category-title{position:relative;transform:scale(1);background:transparent;color:#372360}
.footer-store-section-bars{flex-direction:column!important;align-items:center!important}
.vat-crn-sections > div img{height:60px}
.store-section .social-icons{justify-content:center}
a.btn.btn-primary.product-card-add-to-cart{width:80%}
.product-item div[style="text-align:center"]{/* display:flex;*/
    justify-content:flex-end;flex-direction:column;align-items:flex-end}
a.btn.btn-primary.product-card-add-to-cart:before{right:-24px!important;top:3px;font-family:'FontAwesome';font-weight:bolder;font-size:15px;transition:none!important}
.footer *{background:transparent;color:#28292d!important;border-color:#000!important;font-size:20px}
section.ss[section-id*="b4605fb7b62c"] .box-1-1.ratio21_9:before,section.ss[section-id*="8232f162c6d3"] .box-1-1.ratio21_9:before{padding-top:7%}
.account-lang-currency .account-btn{background-color:#352a0c}
.store-section p{font-size:20px}
.box-1-1 .content{position:absolute;top:0;left:0;bottom:0;right:0}
.product-item .section-product-price{color:red!important;text-align:center}
.box-1-1{top:-9px}
.product-item img{position:relative;top:10px}
.slick-next.slick-arrow>span,.slick-prev.slick-arrow>span{color:#ec7f3a}
button.more-button,a.more-button{border:2px solid #ec7f3a!important}
.btn-outline-primary:hover{background-color:#ec7f3a}
section.ss[section-id*="8e9ccac7c9d3"],section.ss[section-id*="89d277eac773"]{width:90%;margin:auto}
@media (min-width:992px){ul.main-nav > li > a,.item-all-categories a{background:transparent;color:#000000!important;font-weight:bold}}
@media (max-width:600px){.footer-store-section.footer-theme-text-for-primary-bg{text-align:center}.store-section .social-icons{justify-content:center}.sm-search-div.show{padding-top:15px;border-bottom:2px solid}.slide-menu ul a{border:oldlace}.gallery-section.container .gallery.row > .gallery-item{max-width:33%;margin:0;padding:3px;border-radius:20px;overflow:hidden}.category-item h3{font-size:16px}.footer-copyrights-vat-certificate:after{width:83px;height:83px;top:153px;left:0;right:0;margin:auto}.footer-store-section .row .footer-about-us-links-div > .social-icons{padding-top:100px}a.ic-menu-back .header-theme-icon-primary{color:#fff}.product-item{width:157px}}
.footer *{font-size:20px!important}
ul.main-nav>li:hover>a, .item-all-categories>a {
    color: #333!important;
    font-weight: var(--font-weight-sizeOne);
    background: #d4ccb2;
    opacity: 1;
}

.search-header {
    padding: 15px 0 !IMPORTANT;
    background-color: black !IMPORTANT;
}
.dark.d-none.d-lg-block {
    background: #fdca89 !IMPORTANT;
    border-bottom: 3px solid #d4ccb2 !IMPORTANT;
}
body {
    background: url(https://i.ibb.co/Y7YkxQs/3-ENAYTK-UI-BACKGROUND.jpg);
    max-width: 2000px;
    margin: auto;
}
